# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# Logs
# ========================
*.log

# ========================
# Sistema operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Spring Boot
# ========================
application-*.yml
!application-docker.yml
!application-dev.yml

# ========================
# Docker
# ========================
**/.dockerignore

# ========================
# Outros
# ========================
.env
