spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/esocial
    username: esocial
    password: esocial

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
