spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/esocial
    username: esocial
    password: esocial
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  sql:
    init:
      mode: always
